* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

/* Header */
header {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* Navbar */
.navbar {
    max-width: 1300px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.logo img {
    height: 40px;
}

/* Menu */
.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.menu a:hover {
    color: #1e40af;
}

/* Icons */
.icons {
    display: flex;
    gap: 15px;
    font-size: 18px;
    cursor: pointer;
}

.icons span:hover {
    color: #1e40af;
}
